{% import "_includes/forms" as forms %}

{{ forms.selectField({
    label: 'UI Mode'|t('app'),
    instructions: 'How the field should be presented in the control panel.'|t('app'),
    id: 'ui-mode',
    name: 'uiMode',
    options: [
        {label: 'Normal'|t('app'), value: 'normal'},
        {label: 'Enlarged'|t('app'), value: 'enlarged'},
    ],
    value: field.uiMode,
}) }}

{{ forms.textField({
    label: "Placeholder Text"|t('app'),
    instructions: "The text that will be shown if the field doesn’t have a value."|t('app'),
    id: 'placeholder',
    name: 'placeholder',
    value: field.placeholder,
    errors: field.getErrors('placeholder')
}) }}

<fieldset>
    {{ forms.checkboxField({
        label: "Use monospaced styling"|t('app'),
        name: 'code',
        checked: field.code,
    }) }}

    {{ forms.checkboxField({
        label: "Use multiline styling"|t('app'),
        name: 'multiline',
        checked: field.multiline,
        toggle: 'initialRowsContainer'
    }) }}
</fieldset>

<div id="initialRowsContainer" class="nested-fields{% if not field.multiline %} hidden{% endif %}">
    {{ forms.textField({
        label: "Initial Rows"|t('app'),
        id: 'initialRows',
        name: 'initialRows',
        value: field.initialRows,
        size: 3,
        errors: field.getErrors('initialRows')
    }) }}
</div>
